<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="none">
    <test name="TestNG_Basic_Test"> 
        <classes> 
            <class name="com.selenium.testNGbasics.CalculatorTest"/> 
            <class name="com.selenium.testNGbasics.StringOperationTest"/>
            <class name="com.selenium.testNGbasics.LifeCycle_TestNG"/> 
</classes> 
    </test> 
    
</suite>